{% extends 'base.html' %}

{% block content %}

<div class="ibox-content animated wobble" style="height:520px;padding:5px">
        <table id="dataTableModel" class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
                <tr>

                    <th width="100">CAS码</th>
                    <th width="100">中文名称</th>
                    <th width="100">英文名称</th>
                    <th width="100">纯度</th>
                    <th width="100">余量</th>
                    <th width="100">操作人员</th>
                    <th width="100">操作类型</th>
                    <th width="100">单位1</th>
                    <th width="100">单位2</th>
                    <th width="100">位置</th>
                    <th width="100">记录时间</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>

                    <th>CAS码</th>
                    <th>中文名称</th>
                    <th>英文名称</th>
                    <th>纯度</th>
                    <th>余量</th>
                    <th>操作人员</th>
                    <th>操作类型</th>
                    <th>单位1</th>
                    <th>单位2</th>
                    <th>位置</th>
                    <th>记录时间</th>
                </tr>
            </tfoot>
        </table>

</div>
    {% load static %}
    <script src="{% static 'js/warning.js' %}"></script>
{#    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">#}
{#    <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/be7019ee387/integration/jqueryui/dataTables.jqueryui.css">#}
{#    <link href="{% static 'css/style.css' %}" rel="stylesheet">#}


<script type="text/javascript">
    $(function () {
         var tableModel = $('#dataTableModel').DataTable({
            //searching: false,
            lengthChange: false,
{#             "jQueryUI": true,#}
            select: true,
            "scrollX": true,
             scrollY:400,
            "scrollCollapse": true,
{#            "ordering": false,#}
{#            bAutoWidth: false,#}
            ajax: {
                url: '{% url 'home:homeMedicamentDescriptionJson' %}',
                data: { medicamentName: '{{ medicamentName }}',startDate:'{{ startDate }}',endDate:'{{ endDate }}'},
                dataSrc: 'data',

            },
            columns: [

            { data: 'CASNumber' },
            { data: 'Name' },
            { data: 'EnglishName' },
            { data: 'Purity' },
            { data: 'RecordRemain' },
            { data: 'CreateUserName' },
            { data: 'RecordType' },
            { data: 'Unit' },
             { data: 'SpeciUnit' },
            { data: 'ClientCode' },
            { data: 'CreateDate' },
            ],
            createdRow: function (row, data, dataIndex) {
                $(row).children('td').eq(10).html(format_date(data.CreateDate));
                $(row).children('td').eq(6).html(formatRecordType(data.RecordType));
{#                $(row).children('td').eq(8).html(formatStatus(data.Status));#}
                $(row).children('td').eq(9).html(data.ClientCode?data.ClientCode + '号终端' + (data.Place?data.Place:''):'')
            }

        });

         function format_date(date1) {
            return date1.replace('T', ' ')
        }

        function formatRecordType(params) {
            switch (params) {
                case 1:
                    return '入库';
                case 2:
                    return '领用';
                case 3:
                    return '归还';
                default:
                    return params
            }

        }

         function formatStatus(params) {
            switch (params) {
                case 1:
                    return '在库';
                case 2:
                    return '出库';
                case 3:
                    return '空瓶';
                case 5:
                return '预备入库';
                default:
                    return params
            }
        }
    });
</script>
{% endblock %}
