{% extends 'baseBZP.html' %}

{% block content %}

{% load static %}

<div class="layui-fluid">
  <div class="layui-card">


    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="addCabinetDrug">添加钥匙柜试剂</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="addShelfDrug">添加货架试剂</button>
        <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="export_template"
          style="margin-right:3px;" data-toggle="tooltip" data-placement="left" title="导入入库模板"><i
            class="fa fa-folder-open-o" aria-hidden="true"></i>导入入库模板</button>
      </div>

      <table id="LAY-datatable" lay-filter="LAY-datatable"></table>
      <script type="text/html" id="datatable-toolbar">
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
    </div>
  </div>
</div>

<div style="margin-bottom:1600px"></div>
<div id="selectGuizi" style="overflow: hidden;height: 300px;">
  <div class="layui-form" style="margin-top: 20px;">
    <div class="layui-inline">
      <label class="layui-form-label">药柜</label>
      <div class="layui-input-block">
        <select data-placeholder="选择所属药柜..." id="cabinetSelect" name="interest" lay-filter="aihao">

          <option value="">全部</option>
        </select>
      </div>
    </div>
    <div class="layui-inline" style="margin-top: 20px;">
      <label class="layui-form-label">模板名称</label>
      <div class="layui-input-block">
        <select data-placeholder="选择所属药柜..." id="template_name" name="interest" lay-filter="aihao">

          <option value="">全部</option>
        </select>
      </div>
    </div>
  </div>
  <button type="button" class="layui-btn layuiadmin-btn-useradmin" data-type="submitExport"
    style="margin-right:3px;margin-left: 40%;margin-top: 40px;" data-toggle="tooltip" data-placement="left"
    title="确认导入">确认导入</button>

</div>
<script>



$(function () {

        $.get("../getUpanTemplateFile", function (obj) {

            $(obj.data).each(function (index, data) {
                console.log(data);
                $("#template_name").append("<option value='" + data + "' hassubinfo='true'>" + data + "</option>");
            });
            $(".chosen-select").chosen({
                no_results_text: "没有找到",
                disable_search: true,
                allow_single_deselect: true
            });
        });


});

  layui.use(['index', 'table'], function () {
    var table = layui.table
      , form = layui.form;
    var tableData = [];
    localStorage.setItem("stockInList", '[]');
    //列表数据
    table.render({
      elem: '#LAY-datatable'
      , data: tableData
      , size: 'lg'
      , cols: [[
        { type: 'numbers', unresize: true, title: '序号' }
        , { field: 'Name', width: 200, title: '试剂名称' }
        , { field: 'EnglishName', title: '英文名称', width: 200 }
        , { field: 'CASNumber', title: 'CAS码', width: 150 }
        , { field: 'Purity', title: '纯度', width: 130 }
        , { field: 'Speci', title: '试剂规格', width: 130 }
        , { field: 'SpeciUnit', title: '规格单位', width: 130 }
        // ,{field: 'Remain', title: '质量（g）', width: 130}
        , { field: 'Place', title: '位置', minWidth: 200 }
        , { field: 'Count', title: '数量', minWidth: 200 }
      ]]
      , page: false
      , limit: 10000
      , limits: [10, 15, 20, 25, 30]
      , height: 'full-100'
    });

    //监听工具条
    table.on('tool(LAY-datatable)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        top.layer.prompt({
          formType: 1
          , title: '敏感操作，请验证密码'
        }, function (value, index) {
          top.layer.close(index);
          if (hex_md5(value) != top.CheckCode) {
            top.layer.msg("验证失败！");
            return
          }
          top.layer.confirm('确定删除吗？', function (index) {
            //提交
            $.post("{% url 'user:deleteUser' %}", { deleteIds: data.UserId }, function (obj) {
              if (obj.status == 1) {
                top.layer.msg("删除成功", function () {
                  top.layer.close(index);
                });
              }
              else {
                top.layer.msg("删除失败 " + obj.message);
              }
            });
            obj.del();
            // table.reload('LAY-datatable');
          });
        });
      } else if (obj.event === 'edit') {
        var tr = $(obj.tr);

        top.layer.open({
          type: 2
          , title: '编辑用户'
          , content: "{% url 'user:form' %}?user_id=" + data.UserId
          , area: ['800px', '680px']
          , btn: ['确定', '取消']
          , yes: function (index, layero) {
            var submitID = 'LAY-user-front-submit'
              , submit = layero.find('iframe').contents().find('#' + submitID);
            submit.trigger('click');
          }
          , end: function () {
            table.reload('LAY-datatable'); //数据刷新
          }
        });
      }
    });

    //监听搜索
    form.on('submit(LAY-user-front-search)', function (data) {
      var field = data.field;

      //执行重载
      table.reload('LAY-datatable', {
        where: field
      });
    });

    //事件
    var active = {


      submitExport: (function () {
                // if ($('#cabinetSelect').val() == "") {
                //     layer.msg('请先选择药柜！', { time: 5000, icon: 6 });
                //     return;

                // }
                if ($('#template_name').val() == "") {
                    layer.msg('请先选择模板！', { time: 5000, icon: 6 });
                    return;

                }
                $.get('{% url 'keyCabinet:exportPutInTemplate' %}', { ClientId: $('#cabinetSelect').val(), template_name: $("#template_name").val() }, function (obj) {
                    if (obj.data.status == 1) {
                        layer.alert(obj.data.message);
                    } else {
                        msg(obj.data.message, function () {
                            location.reload();
                        });
                    }
                })

            }),



      addCabinetDrug: function () {
        top.layer.open({
          type: 2
          , title: '选择钥匙柜'
          , content: "{% url 'keyCabinet:keyCabinetSelect' %}"
          , area: ['800px', '580px']
          // ,btn: ['确定', '取消']
          , yes: function (index, layero) {
            var submitID = 'LAY-user-front-submit'
              , submit = layero.find('iframe').contents().find('#' + submitID);
            submit.trigger('click');
          }
          , end: function () {
            var stockInList = JSON.parse(localStorage.getItem("stockInList"));
            table.reload('LAY-datatable', { data: stockInList }); //数据刷新
          }
        });
      }
      , addShelfDrug: function () {
        top.layer.open({
          type: 2
          , title: '选择货架'
          , content: "{% url 'keyCabinet:shelfSelect' %}"
          , area: ['300px', '330px']
          , btn: ['确定', '取消']
          , yes: function (index, layero) {
            var submitID = 'LAY-user-front-submit'
              , submit = layero.find('iframe').contents().find('#' + submitID);
            submit.trigger('click');
          }
          , end: function () {
            var stockInList = JSON.parse(localStorage.getItem("stockInList"));
            table.reload('LAY-datatable', { data: stockInList }); //数据刷新
          }
        });
      },
      export_template: function () {
        layui.use('form', function () {
          var form = layui.form;
          form.render(); //刷新select选择框渲染
        });
        layer.open({
          type: 1,
          shade: false,
          title: "选择导入模板药柜", //不显示标题
          area: ['480px', '360px'], //宽高
          content: $('#selectGuizi'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
          cancel: function () {
          }
        });
      },
      
    };

    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
</script>
<iframe width=0 height=0 frameborder=0 id="export" />
{% endblock %}