{% extends 'baseBZP.html' %}

{% block content %}

{% load static %}

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header" style="font-size: 20px;font-weight: bold;">试剂列表</div>
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div style="display: flex; " >
        <div class="layui-form-item" >
          <div class="layui-inline" >
            <label class="layui-form-label">试剂名称</label>
            <div class="layui-input-block" style="width: 150px;">
              <input type="text" name="searchValue" placeholder="试剂名称" autocomplete="off" class="layui-input">
            </div>
          </div>

          <div class="layui-inline">
            <label class="layui-form-label">规格</label>
            <div class="layui-input-block" style="width: 150px;">
              <input type="text" name="SpeciUnit" placeholder="规格" autocomplete="off" class="layui-input">
            </div>
          </div>


          <div class="layui-inline ">
            <label class="layui-form-label">耗材类别</label>
            <div class="layui-input-block" style="width: 150px;">
              <select name="Catetgory" id="Catetgory">
                <option value="">不限</option>
                <option value="B">办公耗材</option>
                <option value="S">实验耗材</option>
              </select>
            </div>
          </div>


          <div class="layui-inline ">
            <label class="layui-form-label">位置</label>
            <div class="layui-input-block"  style="width: 150px;">
              <select name="Place" id="Place">
                <option value="">不限</option>
              </select>
            </div>
          </div>


          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <!-- <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">添加柜子试剂</button>
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加货架试剂</button>
        </div> -->

      <table id="LAY-datatable" lay-filter="LAY-datatable"></table>
      <script type="text/html" id="datatable-toolbar">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="addUseList"><i class="layui-icon layui-icon-edit"></i>添加到领用列表</a>
        </script>
    </div>
  </div>
  <div class="layui-card will-hide">
    <div class="layui-card-header" style="font-size: 20px;font-weight: bold;">待领用列表</div>
    <div class="layui-card-body" style="padding: 15px;">
      <table id="LAY-datatable-use" lay-filter="LAY-datatable-use"></table>
    </div>
    <script type="text/html" id="statusTpl-HandoutMaterials">
        <button class="layui-btn layui-btn-normal layui-btn-xs">合法</button>
        <!-- <button class="layui-btn layui-btn-danger layui-btn-xs">不合法</button> -->
      </script>
    <script type="text/html" id="datatable-toolbar-use">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>从列表中移除</a>
      </script>
  </div>
</div>
<div class="layui-layout-admin will-hide">
  <div class="layui-footer" style="left: 0;z-index: 99999;">
    <button id="cancelReceiveSamplesBtn" class="layui-btn boot-btn-danger next">取消领用</button>&nbsp;&nbsp;&nbsp;
    <button id="okUseBtn" class="layui-btn cancle-btn">确认领用</button>
  </div>
</div>
<script>
  if(sessionStorage.visitType!=1){
    $(".will-hide").hide();
  }
  layui.use(['index', 'table'], function () {
    var table = layui.table
      , form = layui.form;
      $.get("{% url 'drug_GetPlaceListJson' %}",{}, function (obj) {
            $(obj).each(function (index, data) {
                $("#Place").append("<option value='" + data.Place + "'>" + data.Place + "</option>");
            });
            form.render('select');
        });

    var tableConfig={
      elem: '#LAY-datatable'
      , url: "{% url 'drug_GetDrugListJson' %}?status=1"
      // ,size:'lg'
      , cols: [[
        { type: 'numbers', unresize: true, title: '序号' }
        , { field: 'Name', minWidth: 220, title: '耗材名称' }
        , { field: 'Unit', title: '单位', width: 100 }
        , { field: 'SpeciUnit', title: '规格', width: 130,templet:function(data){
            return data.SpeciUnit;
        } }
        , {field: 'Manufacturer', title: '生产厂家', width: 270}
        , { field: 'Remark5', title: '货号', width:270, align: 'center' }
        , { field: 'Place', title: '位置',fixed: 'right', width: 270, align: 'center' }
        , { title: '操作', width: 200, width: 150, align: 'center', fixed: 'right', toolbar: '#datatable-toolbar' }
      ]]
      , page: {
        layout: ['count', 'prev', 'page', 'next',] //自定义分页布局
        , prev: '上一页'
        , next: '下一页'
      }
      , limit: 15
      , limits: [10, 15, 20, 25, 30]
      , height: '350'

      , parseData: function (res) {
        console.log("res", res);
        var dataList = res.data;
        var waitUseMIDList = JSLINQ(waitUseList).Select("MedicamentId").toArray();
        dataList = dataList.concat(waitUseList).filter(function (v) {
          return waitUseMIDList.indexOf(v.MedicamentId) === -1
        });
        /* 如果需要前端做模拟查询，可以在此处写，先过滤数据
        var temp = dataList;
        dataList = [];
        for(var i=0; i<temp.length; i++){
          if(条件1){
            flag1 = true;
          }
          if(条件2){
            flag2 = true;
          }
          if(flag1 && flag2){
            dataList.push(temp[i]);
          }
        } */

        // var total = dataList.length; //请求的数据总数
        // var list = []; //用来保存当前页显示的数据
        // //前端模拟分页，获取当前页、分页显示数据量
        // var page = $("#layui-table-page1").find(".layui-laypage-em").next().html();
        // var limit = $("#layui-table-page1").find(".layui-laypage-limits select").val();
        // console.log(page + ", " + limit);
        // if (page == undefined || page == null || page == "") {
        //   page = 1;
        // }
        // if (limit == undefined || limit == null || limit == "") {
        //   limit = 10;
        // }
        // //数据从哪条数据开始
        // var start = (page - 1) * limit;
        // //数据从哪条数据结束
        // var end = page * limit;
        // if (end > total) {
        //   end = total;
        // }
        // //取分页数据
        // for (var i = start; i < end; i++) {
        //   list.push(dataList[i]);
        // }
        // return {
        //   "code": 0, //解析接口状态
        //   "count": total, //解析数据长度
        //   "data": list //解析数据列表
        // }
      },
    };
    if(sessionStorage.visitType!=1){
      tableConfig.height='full-180';
      tableConfig.cols[0].pop();
      tableConfig.url="{% url 'drug_GetDrugListJson' %}?status=1&FlowNo=1"
      tableConfig.cols[0][10].templet=function(data){
        return data.FlowNo+'楼'+data.Place;
      };
    }
    //列表数据
    table.render(tableConfig);

    //监听工具条
    table.on('tool(LAY-datatable)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {

      } else if (obj.event === 'addUseList') {
        var tr = $(obj.tr);

        if (waitUseList.length != 0) {
          if (data.CellPositionCode != waitUseList[0].CellPositionCode) {
            LayerErrorMsg("钥匙柜和货架试剂不能同时领用！");
            return;
          }
          if (data.CellPositionCode == 100 && data.Place != waitUseList[0].Place) {
            LayerErrorMsg("只能同时领用同一个钥匙柜格子的试剂！");
            return;
          }
        }
        waitUseList.push(data);
        console.log(waitUseList);
        tr.remove();
        table.reload('LAY-datatable-use', { data: waitUseList });
      }
    });
    //监听工具条
    table.on('tool(LAY-datatable-use)', function (obj) {
      var data = obj.data;
      if (obj.event === 'del') {
        var tr = $(obj.tr);
        tr.remove();
        waitUseList = waitUseList.filter(function (item) {
          return item.MedicamentId != data.MedicamentId
        });
        table.reload('LAY-datatable-use', { data: waitUseList });
      }
    });

    //监听搜索
    form.on('submit(LAY-user-front-search)', function (data) {
      var field = data.field;

      //执行重载
      table.reload('LAY-datatable', {
        where: field
      });
    });
    $("#cancelReceiveSamplesBtn").click(function(){
      location.href = "/main";

    });
    $("#okUseBtn").click(function () {
      if (waitUseList.length == 0) {
        LayerErrorMsg("无待领用试剂！");
        return;
      }
      if(waitUseList[0].CellPositionCode==100){
        var waitUseMIDList = JSLINQ(waitUseList).Select("MedicamentId").toArray();
      var loadIndex = LayerLoadMsg("正在执行");
      $.ajax({
        type: 'POST',
        url: '{% url 'drug:drugUseView' %}',
        data: { drugId: waitUseMIDList.join(',') },
        success: function (data) {
          layer.close(loadIndex)
          if (data.status == 0) {
            
            localStorage.setItem("keyCabinetViewPlace", '1号钥匙柜|'+waitUseList[0].FlowPositionCode);
            top.layer.open({
              type: 2
              , title: '领用试剂钥匙柜位置显示'
              , content: "{% url 'keyCabinet:keyCabinetView' %}"
              , area: ['800px', '600px']
              , btn: ['重新开门', '完成']
              , yes: function (index, layero) {
                // var submitID = 'LAY-user-front-submit'
                //   , submit = layero.find('iframe').contents().find('#' + submitID);
                // submit.trigger('click');
                layero.find('iframe')[0].contentWindow.location.reload(true);
              },cancel:function(){
                // alert("fdfdf1");
              }
              , end: function () {
                waitUseList = [];
                table.reload('LAY-datatable'); //数据刷新
                table.reload('LAY-datatable-use', { data: waitUseList });
              }
            });
            
          } else {
            LayerErrorMsg(data.message);

          }
        },
        error: function () {
          alert('数据异常！');
          flag_status = true;
          layer.close(index);
          // socket.send('886');
        }
      });
      }else{

        localStorage.setItem("materialUseList", JSON.stringify(waitUseList));
        top.layer.open({
              type: 2
              , title: '货架试剂领用'
              , content: "{% url 'keyCabinet:shelfUse' %}"
              , area: ['1000px', '600px']
              , btn: ['完成']
              , yes: function (index, layero) {
                // var submitID = 'LAY-user-front-submit'
                //   , submit = layero.find('iframe').contents().find('#' + submitID);
                // submit.trigger('click');
                top.layer.close(index);
              }
              , end: function () {
                waitUseList = [];
                table.reload('LAY-datatable'); //数据刷新
                table.reload('LAY-datatable-use', { data: waitUseList });
              }
            });
      }


    });
    var waitUseList = [];
    //列表数据
    table.render({
      elem: '#LAY-datatable-use'
      , data: waitUseList
      , size: 'lg'
      , cols: [[
        { type: 'numbers', unresize: true, title: '序号' }
        , { field: 'Name', width: 190, title: '试剂名称' }
        , { field: 'EnglishName', title: '英文名称', minWidth: 180 }
        , { field: 'BarCode', title: '条码编号', minWidth: 180,templet:function(data){
            return data.CellPositionCode==100?'无':data.BarCode;
        } }
        , { field: 'CASNumber', title: 'CAS码', width: 150 }
        , { field: 'Remain', title: '试剂余量', width: 130,templet:function(data){
            return data.Remain+data.SpeciUnit;
        } }
        , { field: 'Speci', title: '试剂规格', width: 130,templet:function(data){
            return data.Speci+data.SpeciUnit;
        } }
        , { field: 'Purity', title: '纯度', width: 130 }
        , {field: 'Manufacturer', title: '生产厂家', width: 170}
        , { field: 'ExpirationDate', title: '过期日期', width: 170, align: 'center' }
        , { field: 'Place', title: '位置', width: 200,fixed: 'right', align: 'center' }
        , { title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#datatable-toolbar-use' }
      ]]
      , page: false
      , limit: 10000
      , limits: [10, 15, 20, 25, 30]
      , height: '300'
    });

  });
</script>
{% endblock %}