{% extends 'baseBZP.html' %}

{% block content %}

{% load static %}

<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
              <input type="text" name="BarCode" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">试剂名称</label>
            <div class="layui-input-block">
              <input type="text" name="Name" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <!-- <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">新增期间核查</button>
        </div> -->
        
        <table id="LAY-datatable" lay-filter="LAY-datatable"></table>
        <script type="text/html" id="progressTpl">
          {% verbatim %} 
          <div class="layui-progress layuiadmin-order-progress" lay-filter="progress-"+ {{ d.PeriodCheckId }} +"">
            <div class="layui-progress-bar layui-bg-blue" lay-percent= "{{ (d.PeriodCurrentDrugCount- d.NotPeriodCheckTotalCount) / d.PeriodCurrentDrugCount * 100  }}%" style="width: {{ (d.PeriodCurrentDrugCount- d.NotPeriodCheckTotalCount) / d.PeriodCurrentDrugCount * 100  }}%;"></div>
          </div>
          {% endverbatim %} 
        </script>
        <script type="text/html" id="specTpl">
          {% verbatim %} 
          {{d.Speci+d.SpeciUnit}}
          {% endverbatim %}
      </script> 
        <script type="text/html" id="statusTpl">
            {% verbatim %} 
            {{#  if(d.PeriodCheckStatus==2){ }}
              <button class="layui-btn layui-btn-normal layui-btn-xs">已结束</button>
            {{#  } else { }}
              <button class="layui-btn layui-btn-primary layui-btn-xs">进行中</button>
            {{#  } }}
            {% endverbatim %}
        </script> 
        <script type="text/html" id="datatable-toolbar">
          <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="check"><i class="layui-icon layui-icon-list"></i>查看</a>
          <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a> -->
        </script>
      </div>
    </div>
  </div>
  <script>
  layui.use(['index', 'table'], function(){
    var table = layui.table
    ,form = layui.form;

    //列表数据
    table.render({
        elem: '#LAY-datatable'
        ,url: "{% url 'standard:getPeriodCheckFailureListJson' %}"
        ,size:'lg'
        ,cols: [[
        {type: 'checkbox', fixed: 'left'}
        ,{field: 'BarCode', width: 120, title: '编号'}
        ,{field: 'Name', title: '试剂名称'}
        ,{field: 'CASNumber', width: 120, title: 'CAS码'}
        ,{field: 'Speci', width: 120, title: '规格'}
        ,{field: 'Purity', width: 120, title: '纯度'}
        ,{field: 'CreateDate', width: 230, title: '核查时间'}
        ,{field: 'PeriodCheckMethod', width: 180, title: '核查方法'}
        ,{field: 'Description', width: 180, title: '描述'}
        ,{title: '操作', width: 200, minWidth: 200, align: 'center', fixed: 'right', toolbar: '#datatable-toolbar'}
        ]]
        ,page: {
          layout: [ 'count', 'prev', 'page', 'next',] //自定义分页布局
          ,prev:'上一页'
          ,next:'下一页'
        }
        ,limit: 15
        ,limits: [10, 15, 20, 25, 30]
        ,height: 'full-130'
    });
    
    //监听工具条
    table.on('tool(LAY-datatable)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
          top.layer.prompt({
            formType: 1
            ,title: '敏感操作，请验证密码'
        }, function(value, index){
            top.layer.close(index);
            if(hex_md5(value)!=top.CheckCode)
            {
                top.layer.msg("验证失败！");
                return
            }
            top.layer.confirm('确定删除吗？', function(index) {
                //提交
                $.post("{% url 'user:deleteUser' %}", {deleteIds:data.UserId}, function (obj) {
                    if (obj.status == 1) {
                        top.layer.msg("删除成功", function () {
                            top.layer.close(index);
                        });
                    }
                    else {
                        top.layer.msg("删除失败 " + obj.message);
                    }
                });
                obj.del();
                // table.reload('LAY-datatable');
            });
        });
        } else if(obj.event === 'edit'){
        var tr = $(obj.tr);

        top.layer.open({
          type: 2
          ,title: '编辑期间核查'
          ,content: "{% url 'standard:periodCheckForm' %}?VarietyId="+data.VarietyId
          ,area: ['1200px', '650px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var submitID = 'LAY-user-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);
            submit.trigger('click');
          }        
          ,end:function(){
            table.reload('LAY-datatable'); //数据刷新
          }
        }); 
        }
        else if(obj.event === 'check'){
        var tr = $(obj.tr);

        top.layer.open({
            type: 2
            ,title: '核查试剂信息'
            ,content: "{% url 'standard:periodCheckDrugForm' %}?DrugCode="+data.BarCode+"&PeriodCheckId="+data.PeriodCheckId
            ,area: ['600px', '430px']
            ,shade: [0.9, '#000']
            ,yes: function(index, layero){
              top.layer.close(index);
              table.reload('LAY-datatable'); //数据刷新
            }        
            ,end:function(){
                table.reload('LAY-datatable'); //数据刷新
            }
        }); 
        }
        else if(obj.event === 'view'){
        var tr = $(obj.tr);
        top.layer.open({
          type: 2
          ,title: '查看期间核查信息'
          ,content: "{% url 'standard:periodCheckView' %}?VarietyId="+data.VarietyId
          ,area: ['1200px', '600px']
          ,yes: function(index, layero){
            var submitID = 'LAY-user-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);
            submit.trigger('click');
          }        
          ,end:function(){
            table.reload('LAY-datatable'); //数据刷新
          }
        }); 
        }
    });
    
    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('LAY-datatable', {
        where: field
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-datatable')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        top.layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证密码'
        }, function(value, index){
          top.layer.close(index);
          if(hex_md5(value)!=top.CheckCode)
          {
            top.layer.msg("验证失败！");
            return
          }
          top.layer.confirm('确定删除吗？', function(index) {
            var deleteIds='';
            checkData.forEach(function(element,index){
                if(deleteIds!=''){deleteIds+=','}
                deleteIds+=element.UserId;
            });
            //提交
            $.post("{% url 'user:deleteUser' %}", {deleteIds:deleteIds}, function (obj) {
                if (obj.status == 1) {
                    top.layer.msg("删除成功", function () {
                        table.reload('LAY-datatable');
                        top.layer.close(index);
                    });
                }
                else {
                    top.layer.msg("删除失败 " + obj.message);
                }
            });
            
          });
        });
      }
      ,add: function(){
        top.layer.confirm('确定要新增期间核查吗？', function(index) {
          //提交
          $.post("{% url 'standard:savePeriodCheckData' %}", function (obj) {
              if (obj.status == 1) {
                  top.layer.msg("新增成功", function () {
                      table.reload('LAY-datatable');
                      top.layer.close(index);
                  });
              }
              else {
                  top.layer.msg("新增失败 " + obj.message);
              }
            });
            
        });
      }
    };
    
    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
  </script>
<iframe width=0 height=0 frameborder=0 id="export" />
{% endblock %}
