{% extends 'base.html' %}

{% block content %}
    <style>
    /* 定义layer弹框背景颜色 */
    body .layer-custom .layui-layer-content{
        background-color: rgba(16, 18, 15, 0.07);
    }

   .layer-custom{

   }

/* layer的按钮的样式设置 */
    .layer-custom .layui-layer-btn a{
        margin-right: 50px;
        border: 0px;
        background: #0d8ddb;
    }
    /* 设置layer弹出框的按钮所在的div中的样式 */
   body .layer-custom .layui-layer-btn{

    }

    </style>


    {% load static %}
    <!-- 引入bootstrap样式 -->
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<form class="form-horizontal myForm">

  <div class="form-group" style="margin-top: 100px; margin-bottom: 30px; font-size: 18px;">
    <div>
    <label for="exampleInputName2" class="col-md-3 col-md-offset-2 control-label">类别 (纯度)</label>
         <label for="exampleInputName2" class="col-md-3 control-label" style="margin-left: -20px;" >请输入校验在库数量</label>
        </div>

  </div>
  <div class="form-group" style="margin-bottom: 30px; margin-left: 610px; font-size: 18px;">
    <div class="input-daterange input-group pull-left"  style="width:360px">
        <span class="input-group-addon"> &nbsp;&nbsp;选择盘点药柜：</span>
        <select data-placeholder="选择所属药柜..." id="cabinetSelect" required="required" class="chosen-select" style="width:200px;height:50px">
            <option value="">全部</option>
        </select>
    </div>
</div>
        <!-- 遍历后端传入不同类别的数据 -->
    {% for variety_obj in variety_obj_list %}

          <div class="form-group">
            <label for="exampleInputName2" class="col-md-3 col-md-offset-2 control-label"><span class="name1">{{ variety_obj.Name }}</span> ({{ variety_obj.Purity }})</label>
            <div class="col-md-2 col-md-offset-1">
                 <input type="number"   vid="{{ variety_obj.VarietyId }}" class="form-control varietyId" id="stock_number" oninput="this.value=this.value.replace(/[^0-9.]+/,'');" placeholder="请输入校验的在库数量" required="required" value="0">
            </div>
          </div>

        {% empty %}

             <div  class="col-md-3 col-md-offset-3 control-label">
                 <h1>暂无试剂类别</h1>
             </div>


    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-6" style="padding-top: 20px;">
            {% if variety_obj_list %}
          <button type="button" id="btn_click" class="btn btn-default">提交校验</button>
            {% endif %}
        </div>
    </div>

</form>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
                <script src="{% static 'js/warning.js' %}"></script>

    <script>

    $(function () {
        $.get('{% url 'dataReport:getClientListJson' %}', function (obj) {

$(obj.data).each(function (index, data) {
    $("#cabinetSelect").append("<option value='" + data.ClientId + "' hassubinfo='true'>" + data.ClientName + "</option>");
});
$(".chosen-select").chosen({
    no_results_text: "没有找到",
    disable_search: true,
    allow_single_deselect: true
});
});
        $('#navTitle', window.parent.document).text('库存盘点');
        $('#btn_click').click(function () {
             var tag = 0;
             var boole = false
             var input_content_data = new Array();
            $('.varietyId').each(function () {
               varietyId =  $(this).attr('vid');
               value1 = $(this).val();
               reg = /^[0-9]*?./;
               if(value1.indexOf('.') > -1){
                   boole = true;
                   return false
               }
               if (value1 != ''){
                   tag = tag + 1
               }
               input_content_data.push({'varietyId': varietyId, 'value': value1})
            });
            if(boole){
                msg('在库数量请输入整数 ! ');
                return false
            }
                 // 判断输入的值是否为空 禁止提交
            if (tag < input_content_data.length){
                     layer.msg('库存数量不能为空, 请完善库存信息');
                     return;
                }

            $.post('{% url 'stockTaking:checkStock' %}',{'input_values_list': JSON.stringify(input_content_data),'clientId':$('#cabinetSelect').val()}, function(obj) {
                if(obj.status == 1){
                    var storage = window.localStorage;
                    storage['stockData'] = JSON.stringify(obj.data);
                    quiteTime = Infinity;
                    parent.layer.open({
                            title: "添加试剂模板",
                            shift: 2,
                            type: 2,
                            area: ['1020px', '630px'],
                            content: ["{% url 'stockTaking:resultPage'  %}"],
                            end: function () {
                                currentTime = 0;
                                quiteTime = 600;
                            }
                        });
                }else{
                     layer.msg(obj.message)
                }
            })



            // console.log(input_content_data);
           // console.log(typeof input_content_data);
             /* parent.layer.open({
                  title: "添加试剂模板",
                  shift: 2,
                  type: 2,
                  area: ['1000px', '560px'],
                  content: ["/stockTaking/checkStock"], // 自定义content  支持html语法
                        }); */
            });

        // 截取长度大于10的字符串
      function cut_out_str(params_str) {
          if(params_str.length > 10){
              params_str = params_str.substring(0, 10) + '...';
              return params_str
          }else{
              return params_str
          }
      }

      // 限制类别名称以防毁掉样式
      $('.name1').each(function () {
          update_text = cut_out_str($(this).text());
          $(this).text(update_text)
      });
    })

    </script>


{% endblock %}
